*{
    font-family: "Source Code Pro", monospace;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    transition: 0.8s;
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(252, 247, 231);
}

nav{
    z-index: 100;
    display: inline-flex;
    width: 90%;
    padding: 30px 1%;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 20px;
    left: 0px;
}

nav ul li{
    position: relative;
    right: 100px;
    display: inline-block;
    margin-left: 40px;
    z-index: 100;
    list-style: none;
}

nav ul li::after{
    content:' ';
    height: 1.5px;
    width: 0;
    background-color:rgb(73, 73, 73);
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: 0.5s;
} 

nav ul li:hover::after{
    width: 100%;
}

nav ul li a{
    color: black;
    font-weight: 500;
    display: block;
    font-size: 14px;
    text-decoration: none;
}

nav .logo{
    text-decoration: none;
    color: rgba(155, 111, 34, 0.707);
    font-size: 28px;
    font-weight:bold;
   margin-left: 60px;
}

.search{
    border-radius: 20px;
    background-color: transparent;
    color: black;
    border: 2px solid  rgba(155, 111, 34, 0.707);
    padding: 2px;
}

::placeholder{
    color: black;
    z-index: -1;
}

.bottom{
    top: 250px;
    left: 150px;
    position: absolute;
    z-index: 100;
}


.price{
    font-size: 24px;
    color: rgba(155, 111, 34, 0.707);
    font-weight: bold;
}
.title{
    text-transform: capitalize;
 font-size: 22px;
}

.sec-title{
 font-size: 22px;
 text-transform: capitalize;
}

.first-para{
 font-size: 14px;
 font-weight: 500;
 width: 400px;
 line-height: 20px;
 margin-top: 8px;
}


.back{
    z-index: 5;
    margin-left: 180px;
    letter-spacing: 18px;
    color: rgba(0, 0, 0, 0.111);
    font-size: 400px;
   margin-top: 100px;
}

 span{
    z-index: 5;
    margin-left: -220px;
    letter-spacing: 18px;
    color: rgba(155, 111, 34, 0.707);
    font-size: 400px;
}

.shoes{
    z-index: 5;
    height: 48rem;
    margin-top: -35rem;
    margin-left: 42rem;
}
.shoes:hover{
    opacity: 0.8;
    
    cursor: pointer;
}

.select{
    margin-top: 8px;
    font-size: 14px;
    font-weight: 700;
}

#select-size{
    border: 2px solid  rgba(155, 111, 34, 0.707);
    border-radius: 14px;
    padding: 2px 5px;
}


#select-Price{
    border: 2px solid  rgba(155, 111, 34, 0.707);
    border-radius: 14px;
    padding: 2px 5px;
}

.btn{
    padding: 6px 8px;
    margin-left: 18px;
    border: 2px solid  rgba(155, 111, 34, 0.707);
    background-color:rgba(155, 111, 34, 0.707);
    cursor: pointer;
    border-radius: 14px;
}
.btn:hover{
    opacity: 0.8;
}